/*
     /)  (\
.-._((,~~.))_.-,
 `-.   @@   ,-'
   / ,o--o. \
  ( ( .__. ) )
   ) `----' (
  /          \ Sindre Sørhus
 /            \ mofle89@gmail.com
/              \ 2009

CATdark 1.0

*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
margin:0;
padding:0;
}
table {
border-spacing:10px;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
* {
outline:none;
}

html {
	overflow:scroll;
}

body {
	background: #262626;
	font: 82.5% "Lucida Grande", Lucida, Verdana, sans-serif;
}

acronym {
	cursor: help;
}

#options {
	background: #444;
	border-bottom: 1px solid #8C8C8C;
	color: #999;
}

#options strong {
	color: #888;
}

#closesettingslink {
	color: #fff;
}

strong, th.thisday {
	color: #fff;
}

th.thisday {
	font-size: 11px;
}

a:hover strong {
	text-decoration: underline;
}

.comment,
.comment a, 
.bottomtext a, 
.bottomtext p,
.bottomtext strong,
h4 {
	color: #b3b3b3!important;
}

div.bottomtext {
	padding-top: 20px;
}

div#bookmarks {
	margin-bottom: 10px;
}

div#bookmarks a img {
	opacity: .2;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

div#bookmarks a:hover img {
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

div#options a {
    color: #35a3f8;
}

a {
	color: #2a85cb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    color: #FFF;
    font-size: 22px;
}

h3 {
	color: #FFF;
	font-size: 16px;
	margin-left: 5%;
}

h4 {
	font-size: 10px!important;
}

h4 a {
	color: #999!important;
}

p[style] {
	visibility: hidden;
}

p[style] a {
	visibility: visible;
	font-size: 13px;
	font-family: ;
}

.optioonsarea select, .optioonsarea input {
	border: none;
}

td.day .firstep {
	color: #2a85cb;
	font-weight: bold;
}


.optioonsarea {
	background: #444;
	border-bottom: 1px solid #8C8C8C;
	border-left: 1px solid #8C8C8C;
	border-right: 1px solid #8C8C8C;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	z-index: 999;
	color: #fff;
}

.optioonsarea a {
	color: #666;
}

.optionsbutton {
	border: 1px solid #F3F3F3!important;
	color: #111;
	background: #fff;
}

td.day {
	border-color: #fff;
	background: #f1f1f1;
}

td.day:hover {
	border-color: #2a85cb;
}

td.today:hover {
	border-color: #fff;
}

td.day, 
td.today {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 20px 3px 10px 3px;
	/* IE6 and IE7 fix */
	padding: expression('3px');
}

td.day a {
	color: #333;
}

td.today a {
	color: #fff;
}

td.day .showwatched {
	color: #26c3e4;
}

td.watched a.iswatched {
	color: #26c3e4;
}

td.today .showwatched,
.eplink.firstep.showwatched {
	color: #26c3e4;
}

td.day span.showwatched {
	color: #ccc;
}

td.today span.showwatched {
	color: #26c3e4;
}

td.day th,
td.today th {
	background: #fff;
	color: #444;
	padding: 3px 7px;
	margin: -22px 0 5px -5px;
	/* IE8 fix */
	margin /*\**/: -21px 0 0 -4px\9;
	float: left;
	font-size: 18px;
}

td.today th {
	$color:  #fff;
}


td.day th, 
td.today th, 
.month_name, 
#pop, 
.prev-month, 
.next-month
 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

td.day span {
	color: #666;
}

td.today {
	border: 2px solid #F6F6F6;
	background: #2a85cb;
}

td.today span {
	color: #eaeaea;
}

td.today th {

}

td.day li em a.showwatched {
	color: #2a85cb;
}

td.today li em a.showwatched {
	color: #808080;
}

#pop {
	background: #2a85cb;
	border: 2px solid #fff;
	padding: 10px;
}

#click_overlay { background-color: #000000; }

#popheader {
	background: #2a85cb;
	color: #000;
}

#popheader a { text-decoration: none; color: #fff; }

#poptext {
	color: #000;
}

.frontpage h2 {
	border-color: #333;
}

a.sidelinks {
	background: #333;
	border-color: #eee;
	color: #f0f0f0;
}

a.sidelinks:hover {
	background: #222;
}

.getff a {
	color: #fff;
}

a.letters {
	background: #333;
	border-color: #eee;
	color: #f0f0f0;
}

a.letters span {
	border-color: #333;
}

a.letters:hover {
	background: #222;
}

.month_name {
	border-color: #bababa;
	background: #8C8C8C;
	color: #FFF;
    border: 0;
}


.month_name a strong {
	text-decoration: none;
	font-size: 16px;
	color:  #FFF;
}

.prev-month, .next-month {
	width: 10%;
}

.prev-month:hover, .next-month:hover {
	background: #2a85cb;
}

.prev-month.nohighlight:hover, .next-month.nohighlight:hover {
	background: transparent;
}



.prev-month:hover a,
.next-month:hover a,
.prev-month:hover a strong,
.next-month:hover a strong {
	color: #fff;
}

.prev-month a, .next-month a {
	color: #FFF;
	font-size: 15px;
	text-decoration: none;
}

table.calendarbody {
	border-color: #000;
	background: #333;
}

a.calendarbody {
	color: #fff;
}

td.dayhead {
	border-bottom-color: #999;
}

td.nextep {
	background: #222;
}

td.nextep a {
	color: #ccc;
}

td.nextep a:hover {
	color: #fff;
}

a.goback {
	background: #333;
	color: #ccc;
}

a.goback:hover {
	color: #fff;
}

a.gobackday {
	border-color: #8C8C8C;
	background: #333;
	color: #ccc;
}

a.gobackday:hover {
	color: #fff;
}

table.summaries {
	border-color: #000;
	background: #333;
}

a.summaries {
	color: #fff;
}

.b1 {
	background: #ccc;
}

table.faq {
	border: 1px solid #8C8C8C;
	background: #333;
}

a.faq {
	color: #fff;
}

.faq a {
	color: #fff;
}

table.epinfo td {
	background: #222;
	color: #ccc;
}

table.epinfo td a {
	color: #fff;
}

table#affiliate {
	border-color: #000;
	background: #333;
}

.showselectbody {
	border-color: #000;
	background: #333;
}

.explain {
	border-color: #000;
	background: #333;
}

.boldletter {
	color: #fff;
	background: #222;
}

.checkedletter {
	color: #f0f0f0;
}

.normalletter {
	color: #bbb;
}

.new {
	color: #ffde00;
}

.prem {
	color: #03da68;
}

a.firstep {
	color: #fc9;
}

.eplink {
	color: #333;
}

.eplinktoday {
	color: #596F80;
}

.searchbutton {
	border-color: #333;
	color: #000;
	background: #FEA143;
}

a.footnav {
	color: #aaa;
}

.bottomtext p {
	color: #eee;
}

.bottomtext a {
	color: #fff;
}

.popuphead {
	color: #fff;
	background: #222;
}

.normalpopup {
	color: #fff;
}

div.nicetitle {
	border-color: #000;
	color: #fff;
	background: #1F417E;
}




/* NEXT AIRING CSS ADDED BY MAZ */


.nextair .month_name { height: 30px; line-height: 30px;}


.nextair td { text-align: center; padding: 0; margin: 0; }


.nextair tr.ep  {  height: 30px; }


.nextair tr.epsplit th  { 
    background: #F1F1F1 none repeat scroll 0 0; 
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    font-weight: bold;
    color: #2a85cb;
}

table.nextair { 
    background: #F1F1F1 none repeat scroll 0 0; 
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
}

table#nextair-parent {
    background-color: transparent;
}

.nextair tr.dayhead th { 
    background: #DEDEDE none repeat scroll 0 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: #333;
}

.nextair tr.dayhead.today th { 
    background: #2a85cb none repeat scroll 0 0; 
    color: #FFFFFF;
}



.nextair tr.spacer { 
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    -moz-border-radius-bottomright: 5px; 
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    line-height: 5px;
    display: table-row;
}


.nextair tr.ep { background-color: #DEDEDE; }

.nextair tr.epdesc { background-color: #F1F1F1; font-size: 1.2em;  display: none;  }

.nextair tr.epdesc strong { color: #2a85cb; }

.nextair tr.ep.even { background-color: #F1F1F1; }
.nextair tr.epdesc.odd { background-color: #DEDEDE;  }

.openeps {
    color: #CCC;
    
}


h3.faq {
    color: #2a85cb; 
}


